.main {
  height: 575px;
  width: 384px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
  align-content: flex-start;
  border: black 1px solid;
}

.app {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.LegoStud {
  height: 10px;
  width: 10px;
  border: #000000 1px solid;
}

.uploadImage {
  height: 575px;
  width: 384px;
}
